{{! @template block_mark_manager/content }}

<div class="block-mark-manager-content">
    <ul class="m-0 p-0">
        {{#aggregations}}
            <li class="d-flex justify-content-between align-items-center">
                <a href="{{url}}">{{#pix}} {{icon}}, core, {{label}} {{/pix}} {{label}}</a>
                <span class="badge badge-primary badge-pill rounded-pill">{{count}}</span>
            </li>
        {{/aggregations}}
    </ul>
    <hr>
    <ul class="m-0 p-0">
        {{#reports}}
            <li class="d-flex align-items-center">
                <a href="{{url}}">{{#pix}} {{icon}}, core, {{label}} {{/pix}} {{label}}</a>
            </li>
        {{/reports}}
    </ul>
</div>  